.navbar{
    background:rgba(236, 208, 229, 0.945);
    /* font-family: Verdana, sans-serif; */
}
.nav-link{
    color:navy;
    letter-spacing:1px;
}
.nav-link:hover{
    color:green;
    /* border-bottom:2px solid green; */
    text-decoration:overline;
    /* text-shadow: 2px 2px 5px green; */
}